<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
	<castle>
	</castle>
	<connectionStrings>
	</connectionStrings>

	<appSettings>
		<add key="Application.BaseUrl" value="http://localhost/restful_service/"/>
	</appSettings>

	<system.diagnostics>
		<switches>
			<add name="ShowErrors" value="4"/>
		</switches>
	</system.diagnostics>

	<system.web>
		<compilation debug="true" />
		<authentication mode="None"/>
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</httpHandlers>
		<httpModules>
			<add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
		</httpModules>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/warnaserror-">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</modules>
		<handlers>
			<add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</handlers>
	</system.webServer>
</configuration>